{% extends "main.html" %} {% block content %}
<div class="content-section">
  <h3>Profile</h3>

  <div class="row">
    <div class="column">
      <pre>


        User id = {{ current_user.id }} <br>
        Username = {{ current_user.username }} <br>
        Email = {{ current_user.email }} <br>
      </pre>
    </div>

    <div class="column">
      <img
        src="{{url_for('static', filename='default.jpg')}}"
        width="180"
        height="200"
      />
    </div>
  </div>
  <a
    style="vertical-align: center"
    class="btn btn-primary"
    href="{{url_for( 'logout' )}}"
    role="button"
    >Logout</a
  >
</div>

{% endblock content %}
